---
import { getCollection } from 'astro:content';

// 获取集合中的所有条目。
// 需要集合的名称作为参数。
// 示例：检索 `src/content/blog/**`
const blogCollection = await getCollection('blog');
//	获取所有 tag
const tags = (blogCollection.flatMap((blog) => blog.data.tags.split(' ')) as string[]).filter((t) => t !== '精选');
//	获取所有 tag 并去重，分组成 { value: string, total: number } 的形式
const tagsGroup = tags.reduce((acc: { value: string; total: number }[], cur) => {
  const index = acc.findIndex((item) => item.value === cur);
  if (index === -1) {
    acc.push({ value: cur, total: 1 });
  } else {
    acc[index].total++;
  }
  return acc;
}, []);

const sortTags = tagsGroup.sort((a, b) => b.total - a.total);

//	按照日期排序所有的文章
const posts = blogCollection.sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf());
const starPosts = posts.filter((p) => p.data.tags.includes('精选'));
---

<style lang="scss">
  .quote {
    margin-block-start: 1em;
    margin-block-end: 2em;

    #quote {
      color: orangered;
      opacity: 0.7;
      font-size: 14px;
      text-decoration: underline;

      &::before {
        content: '#';
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .theme {
    margin-block-start: 2em;
    margin-block-end: 2em;
  }

  .detail {
    margin-block-start: 2em;
    margin-block-end: 2em;
  }

  .item {
    cursor: pointer;
    opacity: 0.7;
    display: block;
    text-decoration: none;

    margin-block-start: 1.5em;
    margin-block-end: 1.5em;

    &:hover {
      color: orangered;
      opacity: 1;
    }

    p {
      margin-block-start: 0.2em;
      margin-block-end: 0.2em;
    }

    .header {
      display: flex;
      align-items: center;
      gap: 1em;
    }

    .title {
      cursor: pointer;
      font-size: 16px;
    }

    .subtitle {
      display: inline;
      font-size: 12px;
      opacity: 0.5;
    }

    .label {
      display: flex;
      gap: 16px;
      font-size: 12px;

      .tags {
        padding: 0px 4px;
        border-radius: 2px;
        background-color: var(--highlight);
      }
    }
  }

  .tag_filter {
    color: cadetblue;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 14px;
  }

  .filter_item {
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 2px;

    margin-block-start: 0em;
    margin-block-end: 0em;

    &.selected {
      background-color: var(--highlight);
    }

    &:hover {
      opacity: 0.8;
    }
  }
</style>

<script>
  //	每日一句的 API
  document.addEventListener('astro:page-load', async () => {
    const res = await fetch('https://v1.hitokoto.cn/');
    const data = await res.json();
    (document.querySelector('#quote') as HTMLSpanElement).innerHTML = `「${data.from}」${data.hitokoto}`;
  });

  document.addEventListener('astro:page-load', async () => {
    const tags = document.querySelectorAll('.filter_item') as NodeListOf<HTMLParagraphElement>;
    const items = document.querySelectorAll('.item') as NodeListOf<HTMLDivElement>;

    //	tags 支持多选并筛选
    tags.forEach((tag) => {
      tag.addEventListener('click', () => {
        //	多选样式调整
        tag.classList.toggle('selected');
        //	所有选中的 tag
        const selectedTags = document.querySelectorAll('.selected');
        //	所有选中的 tag 的值
        const selectedTagsValue = Array.from(selectedTags).map((tag) => tag.id);
        //	所有 item 就是所有文章
        items.forEach((item) => {
          //	每篇文章的 tags
          const tags = (item.getAttribute('data-tags') as string).split(' ');
          //	如果没有选中任何 tag，那么所有文章都显示，否则只显示选中的 tag 的文章
          if (selectedTagsValue.length === 0) {
            item.style.display = 'block';
            return;
          }
          item.style.display = selectedTagsValue.every((tag) => tags.includes(tag)) ? 'block' : 'none';
        });
      });
    });
  });
</script>

<section>
  <div class="quote">
    <p>每日一句</p>
    <span id="quote"></span>
  </div>
  <div class="theme">
    <p>主题 | Filter</p>
    <div class="tag_filter">
      {
        sortTags.map((tag) => (
          <p class="filter_item" id={tag.value}>
            #{tag.value}({tag.total})
          </p>
        ))
      }
    </div>
  </div>
  <p>精选 | Star</p>
  <div class="star_list">
    {
      starPosts.map((post) => (
        <>
          <a href={`/blog/${post.slug}`} class="item" id={post.slug} data-tags={post.data.tags}>
            <div class="header">
              <p class="title">{post.data.title}</p>
              {post.data.subtitle && <p class="subtitle">-- {post.data.subtitle}</p>}
            </div>
            <div class="label">
              <p class="date">{post.data.date}</p>
              <p class="tags">{post.data.tags.replaceAll(' ', ' | ')}</p>
            </div>
          </a>
        </>
      ))
    }
  </div>
  <br />
  <div class="detail">
    <p>时间线 | Timeline</p>
    {
      posts.map((post) => (
        <>
          <a href={`/blog/${post.slug}`} class="item" id={post.slug} data-tags={post.data.tags}>
            <div class="header">
              <p class="title">{post.data.title}</p>
              {post.data.subtitle && <p class="subtitle">-- {post.data.subtitle}</p>}
            </div>
            <div class="label">
              <p class="date">{post.data.date}</p>
              <p class="tags">{post.data.tags.replaceAll(' ', ' | ')}</p>
            </div>
          </a>
        </>
      ))
    }
  </div>
</section>
