---
import { getCollection } from 'astro:content';

const experienceCollection = await getCollection('experience');
---

<style>
  .experience {
    margin-bottom: 36px;
		display: flex;
		flex-direction: column;
		gap: 4px;
  }

  p {
    margin: 0;
  }

  .title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }

  .role {
    margin-top: 8px;
    opacity: 0.6;
    display: flex;
    gap: 16px;
    font-size: 14px;
  }

  .role:hover {
    opacity: 1;
  }

  .detail {
    font-size: 14px;
  }
</style>

<!--
	遍历 pageCollection，渲染每一项的工作经历信息
	假设每个 item.frontmatter 都包含 company, date, role, keywords 字段
-->
{
  experienceCollection.map((item) => (
    <article class="experience">
      <div class="title">
        <p>{item.data.company}</p>
        <p>{item.data.date}</p>
      </div>
      <div class="role">
        <p>{item.data.role}</p>
        <p>{item.data.keywords}</p>
      </div>
      <div class="detail" set:html={item?.rendered?.html}></div>
    </article>
  ))
}
