---
import { getCollection } from 'astro:content';

const experienceCollection = await getCollection('experience');
---

<style>
  .experience {
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  p {
    margin: 0;
  }

  .title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }

  .role {
    color: var(--sub-text-color);
    display: flex;
    gap: 16px;
    font-size: 14px;
    font-style: italic;
  }

  .role:hover {
    color: var(--primary-color);
  }

  .detail {
    font-size: 14px;
  }

  @media (max-width: 768px) {
    .title {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
</style>

<!--
	遍历 pageCollection，渲染每一项的工作经历信息
	假设每个 item.frontmatter 都包含 company, date, role, keywords 字段
-->
{
  experienceCollection
    .sort((a, b) => a.data.order - b.data.order)
    .map((item) => (
      <article class="experience">
        <div class="title">
          <p>{item.data.company}</p>
          <p>{item.data.date}</p>
        </div>
        <div class="role">
          <p>{item.data.role}</p>
          <p>{item.data.keywords}</p>
        </div>
        <div class="detail" set:html={item?.rendered?.html} />
      </article>
    ))
}
